<p id="notice"><%= notice %></p>

<%#= link_to 'Edit', edit_keyword_path(@keyword) %> 
<%= link_to 'Back to Keywords', keywords_path %><br/><br/>

	<div style="padding:20px; margin-bottom: 20px; text-align: center;">
		<%= will_paginate @twitts %>
	</div>


<p>
  <h2><strong>Keyword:</strong> <%= @keyword.word %></h2>

</p>

<h3>Latest tweetts (<%= @keyword.tweets.count %>). <em>The tweets updates, every 10 minutes</em></h3>
	
<table>
  <thead>
    <tr>
      <th>Who</th>
      <th>Tweet/Retweet</th>
      <th>When</th>
    </tr>
  </thead>

  <tbody>
    <% @twitts.each do |twitt| %>
      <tr>
        <td>
        	<strong><%= twitt.user_screen_name %></strong><br/>
        	<img src="<%= twitt.user_image_url %>" width="50">
        </td>
        <td><%= h(twitt.text).gsub(/\n/,'<br/>').html_safe %></td>
        <td><em> <%= time_ago_in_words(twitt.tweet_created_at) %> ago</em></td>
      </tr>
  </tbody>
  <% end %>
</table>


	<div style="padding:20px; margin-bottom: 20px; text-align: center;">
		<%= will_paginate @twitts %>
	</div>


<%#= link_to 'Edit', edit_keyword_path(@keyword) %> 
<%= link_to 'Back to Keywords', keywords_path %>
