<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_keyword_path(@keyword) %> |
<%= link_to 'Back to Keywords', keywords_path %><br/><br/>

<div style="padding:20px; border: solid 1px #CCC; margin-bottom: 20px;">
		<%= will_paginate @twitts %>
</div>

<p>
  <strong>Word:</strong>
  <%= @keyword.word %>
</p>

<h2>Latest Twitts (<%= @keyword.tweets.count %>)</h2>
	<ul>
		<% @twitts.each do |twitt| %>
		<li> 
			<img src="<%= twitt.user_image_url %>" width="50"> 
			
			<strong><%= twitt.user_screen_name %>:</strong> 
			
			<blockquote><%= twitt.text %> </blockquote>
			
			<!-- <strong><em> <%= time_ago_in_words(twitt.created_at) %> ago </em></strong> -->

		</li><hr/><br/>
		<% end %>
	</ul>
	
	<div style="padding:20px; border: solid 1px #CCC; margin-bottom: 20px;">
		<%= will_paginate @twitts %>
	</div>


<%= link_to 'Edit', edit_keyword_path(@keyword) %> |
<%= link_to 'Back to Keywords', keywords_path %>
